header {
	background-color: #333333;
	height: 56px;
	position: relative;
	padding: 0 24px;
	color: white;
	display: flex !important;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
	a:hover {
		text-decoration: none;
		color: white;
	}
	.menu {
		display: flex;
		flex-wrap: nowrap;
		height: 40px;
		width: 47%;
		display: none;
		>div {
			height: 100%;
			width: 100%;
			border-left: 1px solid #484848;
			&:last-child {
				border-right: 1px solid #484848;
			}
			.dropdown_icon {
				display: none;
			}
			>div.border {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
			}
		}
		a {
			color: #bbbbbb;
			transition: color 0.3s;
			font-size: 14px;
			text-transform: uppercase;
			font-family: "Roboto-Medium";
			&:hover {
				color: white;
			}
		}
		a.active {
			color: white;
		}
	}
	.menu_desctop {
		display: flex;
		flex-wrap: nowrap;
		height: 40px;
		width: 47%;
		display: flex;
		>div {
			height: 100%;
			width: 100%;
			border-left: 1px solid #484848;
			&:last-child {
				border-right: 1px solid #484848;
			}
			.dropdown_icon {
				display: none;
			}
			>div.border {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
			}
		}
		a {
			color: #bbbbbb;
			transition: color 0.3s;
			font-size: 14px;
			text-transform: uppercase;
			font-family: "Roboto-Medium";
			&:hover {
				color: white;
			}
		}
		a.active {
			color: white;
		}
	}
	.logo {
		a {
			display: flex;
			align-items: center;
			color: #ff9800;
			width: 7%;
			span {
				margin-left: 5px;
				font-size: 24px;
				font-family: "Roboto-Regular";
			}
		}
	}
	.panel {
		display: flex;
		width: 30.8%;
		align-items: center;
		justify-content: space-between;
		.icon_search {
			width: 100%;
			display: block;
			position: relative;
			span.ic-search {
				font-size: 23px;
				top: 8px;
				position: absolute;
				right: 6px;
			}
			input {
				background-color: #484848;
				border: 0;
				padding: 12px 20px;
				padding-right: 38px;
				border-radius: 3px;
				color: white;
				width: 100%;
			}
		}
		.panel_icons {
			margin-left: 20px;
			display: flex;
			justify-content: flex-end;
			flex-shrink: 0;
			span {
				cursor: pointer;
				vertical-align: middle;
				font-size: 23px;
				+ {
					span {
						margin-left: 10px;
					}
				}
			}
			.ic-menu {
				display: none;
			}
		}
	}
}
.m_menu {
	background-color: rgba(50, 50, 50, 0.8);
	position: absolute;
	overflow: hidden;
	height: 0;
	top: 56px;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 56px;
	margin-top: -56px;
	z-index: 5;
	.wrapper {
		padding: 15px 5px;
		height: 100%;
	}
	.icon_search {
		width: 100%;
		display: block;
		position: relative;
		span.ic-search {
			font-size: 23px;
			top: 12px;
			position: absolute;
			right: 6px;
		}
		input {
			background-color: #484848;
			border: 0;
			padding: 16px 20px;
			padding-right: 38px;
			border-radius: 3px;
			color: white;
			width: 100%;
		}
	}
	.m_menu_items {
		flex-grow: 1;
		flex-direction: column;
		align-items: center;
		margin-top: 15px;
		>div {
			text-transform: uppercase;
			border-bottom: 1px solid #484848;
			width: 100%;
			text-align: center;
			padding: 15px 0;
			a {
				font-family: "Roboto-Medium";
				color: #bbbbbb;
				&:hover {
					color: white;
				}
			}
			a.active {
				color: white;
			}
		}
	}
	.info {
		font-family: "Roboto-Regular";
		color: #bbbbbb;
		text-align: center;
		width: 100%;
		text-align: center;
	}
}

@media (max-width: 1024px) {
	header {
		.menu {
			display: flex;
			flex-direction: column;
			width: 20%;
			display: block;
			overflow: hidden;
			align-self: baseline;
			background-color: #333333;
			height: 56px;
			transition: all 0.3s;
			>div {
				height: 46px;
				margin: 5px 0;
				border: 0;
				position: relative;
				>div.border {
					display: flex;
					justify-content: space-between;
					padding: 0 15px;
				}
				.dropdown_icon {
					display: block;
					transition: all 0.3s;
				}
				.dropdown_icon.down {
					transform: rotate(180deg);
				}
			}
			div {
				&:first-child {
					border-left: 1px solid #484848;
					border-right: 1px solid #484848;
					cursor: pointer;
				}
			}
		}
		.menu.drop {
			height: 260px;
		}
		.panel {
			width: 50%;
		}
		.menu_desctop {
			display: none;
		}
	}
}

@media (max-width: 700px) {
		header {
			.panel {
				justify-content: flex-end;
				.icon_search {
					display: none;
				}
				.panel_icons {
					.ic-menu {
						display: block;
					}
					.ic-menu.isHide {
						display: none;
					}
					.ic-close {
						display: none;
					}
					.ic-close.isHide {
						display: block;
					}
				}
			}
			.menu {
				display: none;
			}
		}
		.m_menu {
			transition: height 0.3s;
			.wrapper {
				display: flex;
				flex-direction: column;
			}
		}
		.m_menu.down {
			height: 100%;
			transition: height 0.3s;
		}
		#home {
			margin-top: 75px;
		}
		.toolbar {
			.toolbar_right {
				.drop_down {
					display: none;
				}
				.sort {
					top: 10px;
				}
			}
		}
	}
