:global {
	* {
		box-sizing: border-box;
	}
	html {
		height: 100%;
	}
	body {
		background-color: white !important;
		height: 100%;
	}
	a
	p {
		margin: 0;
	}
	.container {
		width: 100%;
		padding: 0 64px;
	}
	.react-bs-table-bordered {
		border: 0;
	}
	.react-bs-table {
		padding-bottom: 13px;
		box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.2);
		.react-bs-container-header {
			background-color: #eeeeee;
			padding: 8px 24px;
			font-size: 16px;
			border: 0;
			border-bottom: 1px solid #e0e0e0;
			.table {
				width: 100%;
				th {
					padding: 5px 0;
					border-right: 1px solid #a8775b;
				}
			}
		}
		.react-bs-container-body {
			padding: 13px 24px;
			padding-bottom: 0;
			.os-scrollbar {
				.os-scrollbar-track {
					background: rgba(0, 0, 0, .2);
					width: 1px;
					.os-scrollbar-handle {
						width: 3px;
						left: -1px;
						opacity: 1;
						background: #676767;
						border-radius: 2px;
					}
				}
			}
			.os-scrollbar-vertical {
					right: 6px;
				}
			tr {
				border-bottom: 1px dotted #9e9e9e;
				font-size: 14px;
				font-family: "Roboto-Regular";
				td {
					padding: 13px 0;
					text-align: center;
				}
			}
			.table {
				width: 100%;
			}
		}
		.returned {
			border: 0;
			text-transform: uppercase;
			border-radius: 4px;
			font-family: "Roboto-Medium";
			color: white;
			background-color: #d50000;
			padding: 4px 10px;
		}
	}
	.btn {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 46px;
		padding: 10px 20px;
		background: #388e3c;
		border-color: #388e3c;
		border-radius: 2px;
		font-size: 14px;
		font-weight: 400;
		color: #fff;
		box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24);
		text-transform: uppercase;
		transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

		&:hover {
			background: #fff;
			color: #388e3c;
		}

	}
}